<% content_for :title, t('.title') %>


<% if can?(:add_books, :admin_stores_books) %>
  <div class="mb-1 text-right"
    <%= render 'modal_add_books' %>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        <%= hp_human_name_for(:book, :title) %>
      </th>
      <th>
        <%= hp_human_name_for(:book, :author) %>
      </th>
      <th>
        <%= hp_human_name_for(:book, :year) %>
      </th>
      <th>
        <%= hp_human_name_for(:book_store, :book_count) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @store_books.each_with_index do |store_book, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= store_book.book.title %>
        </td>
        <td>
          <%= store_book.book.author %>
        </td>
        <td>
          <%= store_book.book.year %>
        </td>
        <td>
          <%= store_book.book_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
