<!-- Button trigger modal -->

<%= form_tag(add_book_admin_store_path(@store), method: :patch, :html => { class: 'btn text-right' }) do |f| %>
<%= hidden_field_tag('_method', :patch) %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
   <%= t('.add_book')  %>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-right modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= t('.select_book') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div class="col-3">
          <%= hp_human_name_for(Book) %>
        </div>
        <div class="col-9">
          <%= select_tag(
              'book_id',
              options_from_collection_for_select(@books, :id, :title),
              include_blank: true,
              class: 'selectpicker form-control',
              data:  { 'live-search': true } ) %>
        </div>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div class="col-3">
          <%= hp_human_name_for(:stored_book, :book_count) %>
        </div>
        <div class="col-9">
          <%= number_field_tag('book_count', nil, min: 1, class: 'form-control') %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
        <button type="submit" class="btn btn-primary"><%= t('.add') %></button>
      </div>
    </div>
  </div>
</div>
<% end %>
