<% content_for :title, t('.title', code_name: @store.codename) %>

<div class="details-group">
  <%= hp_field_label(:store, :codename) %>
  <%= hp_field_content(@store.codename) %>
</div>

<div class="details-group">
  <%= hp_field_label(:store, :phone) %>
  <%= hp_field_content(@store.phone) %>
</div>

<div class="details-group">
  <%= hp_field_label(:store, :address) %>
  <%= hp_field_content(@store.address) %>
</div>

<% if can?(:edit, :admin_stores) %>
  <hr>
  <%= link_to(t('.edit'), { action: :edit }, class: 'btn btn-light') %>
<% end %>

<% if can?(:destroy, :admin_stores) %>
  <%= hp_delete_button(admin_store_path(@store), class: 'd-inline') %>
<% end %>
