<% content_for :title, t('.title', code_name: @store.codename) %>

<div class="details-group">
  <%= hp_field_label(:store, :codename) %>
  <%= hp_field_content(@store.codename) %>
</div>

<div class="details-group">
  <%= hp_field_label(:store, :phone) %>
  <%= hp_field_content(@store.phone) %>
</div>

<div class="details-group">
  <%= hp_field_label(:store, :address) %>
  <%= hp_field_content(@store.address) %>
</div>

<hr>
<% if can?(:index, :admin_stores_books) %>
  <%= link_to admin_store_books_path(@store),
    class: "btn btn-light" do %>
    <%= t('.libros') %>
  <% end %>
<% end %>

<% if can?(:edit, :admin_stores) %>
  <%= link_to(t('.edit'), { action: :edit }, class: 'btn btn-light') %>
<% end %>

<% if can?(:destroy, :admin_stores) %>
  <%= hp_delete_button(admin_store_path(@store), class: 'd-inline') %>
<% end %>
