<% content_for :title, t('.title', code_name: @store.codename) %>

<% if can?(:index, :admin_stores_books) %>
  <div class="mb-1 text-right">
    <%= link_to show_books_admin_store_path(@store),
      class: "btn btn-light text-right" do %>
      <%= t('.libros') %>
    <% end %>
  </div>
<% end %>

<hr>
<table class='table table-borderless'>
  <tr>
    <th>
      <%= hp_human_name_for(:store, :codename) %>
    </th>
    <td>
      <%= hp_field_content(@store.codename) %>
    </td>
  </tr>
  <tr>
    <th>
      <%= hp_human_name_for(:store, :phone) %>
    </th>
    <td>
      <%= hp_field_content(@store.phone) %>
    </td>
  </tr>
  <tr>
    <th>
      <%= hp_human_name_for(:store, :address) %>
    </th>
    <td>
      <%= hp_field_content(@store.address) %>
    </td>
  </tr>
</table>

<hr>
<% if can?(:edit, :admin_stores) %>
  <%= link_to(t('.edit'), { action: :edit }, class: 'btn btn-light') %>
<% end %>

<% if can?(:destroy, :admin_stores) %>
  <%= hp_delete_button(admin_store_path(@store), class: 'd-inline') %>
<% end %>
